<ion-header>
    <ion-navbar>
        <ion-title>{{'My Points' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}" refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="top-nav nav-adjust-2">
        <p>{{'Balance Points' | translate}}</p>
        <h1>{{total_balance_point}}</h1>
        <h2> {{'Last updated' | translate}} {{ (karigar_point.balance_update!='0000-00-00') ? (karigar_point.balance_update | date:'d MMMM y') : ('Not updated yet') }}</h2>
    </div>
    
 
    <div >
        <ion-segment [(ngModel)]="history">
            
            <ion-segment-button value="scanned">
                {{ 'Scanned Points' | translate }}
            </ion-segment-button>
            
            <ion-segment-button value="referral">
                {{ 'Other Points' | translate }}
            </ion-segment-button>
        </ion-segment>
    </div>
    
    <div [ngSwitch]="history">
        
        <ion-list  *ngSwitchCase="'scanned'">
            <div class="no-history" *ngIf="coupon_list.length == 0">
                <img src="assets/imgs/history.png">
                <p>{{'No History' | translate}}</p>
            </div>
            <!-- (click)="goOnPointDetailPage(list.id)" -->
            <ion-item *ngFor="let list of coupon_list; let i=index" >
                <div class="left-block">
                    <!-- <p>{{'Scanned Points' | translate}}</p> -->
                    <span><strong>{{'Coupon Code' | translate}} : </strong> {{list.coupon_code}} <br>({{list.scan_by_karigar_date | date:'d MMMM y, h:mm a'}})</span>
                </div>
                <div class="right-block">
                    <h2>{{list.coupon_value}} <span>PT</span></h2>
                </div>
            </ion-item>
        </ion-list>
        
        <ion-list  *ngSwitchCase="'referral'">
            
            <div class="no-history" *ngIf="ref_kar.length == 0">
                <img src="assets/imgs/history.png">
                <p>{{'No History' | translate}}</p>
            </div>
            <ion-item *ngFor="let row of ref_kar;">
                <div class="left-block">
                    <p>{{row.summary}}</p>
                    <span>({{row.date_created | date:'d MMMM y'}})</span>
                </div>
                <div class="right-block">
                    <h2>{{row.points}} <span>PT</span></h2>
                </div>
            </ion-item>
        </ion-list>
    </div>
    
    
    <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>