<ion-header>
    <ion-navbar>
        <ion-title>{{data.category}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="home-grid transparent multiple-images" >
        <ul>
        <li *ngFor="let row of sub_cat_list;let i=index" (click)="goOnfurnituresharePage(i)">
            <div class="img-view" >
                <img src="{{upload_url+row.image_name}}">
            </div>
        </li>
        </ul>
    </div>
    
    <div class="image-detail" *ngIf="sub_cat_list.length == 0">
        <img src="assets/imgs/no_found.svg">
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>