page-otp {
    
    .otp-error
    {
        text-align: right;
        p
        {
            font-size: 12px;
            color: red;
        }
    }

    ion-header ion-navbar button span ion-icon.back-button-icon{
        color: #000 !important;
    }
    
}